.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
}

/* Mobile Device */
@media screen and (max-width: 600px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }
}